In [1]:

import pandas as pd

file_path = r"C:\Users\Vel M\OneDrive\Documents\project 1\orders.csv"

# Read CSV into DataFrame
df = pd.read_csv(file_path)

In [3]:
import mysql.connector 
from sqlalchemy import create_engine

config={
    'user':'root',
    'password':'2526',
    'host':'127.0.0.1',
    'database':'Retail_order'
}

connection_string = f'mysql+mysqlconnector://{config["user"]}:{config["password"]}@{config["host"]}/{config["database"]}'
engine = create_engine(connection_string)
df.to_sql('RetailOrders', con=engine, if_exists='replace', index=False)


print("Data inserted successfully!")

print(config)
cursor=connection.cursor()

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+mysqlconnector://root:***@127.0.0.1/Retail_order): (RetailOrders)

In [16]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [10]:
df['Order Id'] = df['Order Id'].fillna(0)
df['Order Date'] = df['Order Date'].fillna(0)
df['Discount Percent'] = df['Discount Percent'].fillna(0)
df['Quantity'] = df['Quantity'].fillna(0)
df['List Price'] = df['List Price'].fillna(0)
df['cost price'] = df['cost price'].fillna(0)
df['Product Id'] = df['Product Id'].fillna(0)
df['Sub Category'] = df['Sub Category'].fillna(0)
df['Category'] = df['Category'].fillna(0)
df['Region'] = df['Region'].fillna(0)
df['Postal Code'] = df['Postal Code'].fillna(0)
df['State'] = df['State'].fillna(0)
df['City'] = df['City'].fillna(0)
df['Segment'] = df['Segment'].fillna(0)
df['Ship Mode'] = df['Ship Mode'].fillna(0)
df['Country'] = df['Country'].fillna(0)

In [11]:
df.columns = df.columns.str.lower()  
df.columns = df.columns.str.replace(' ', '_') 
df.columns = df.columns.str.replace(r'[^\w\s]', '', regex=True)

In [12]:
#discount
df['discount'] = df['list_price']*(df['discount_percent']/100)
#Sale price
df['sale_price'] = df['list_price']-df['discount']
#profit
df['profit'] = df['sale_price']-df['cost_price']

In [17]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

KeyError: 'root'